<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <a [routerLink]="'/users/' + user.id">
        {{ user.name }}
      </a>
    </h6>
    <p class="card-text">{{ post.body }}</p>
  </div>
</div>
