<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ (user$ | async).name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ (user$ | async).username }} - {{ (user$ | async).email }}
    </h6>
  </div>
</div>
<ng-container *ngIf="(posts$ | async)?.result">
  <h4>Posts do usuário:</h4>

  <div class="row">
    <div class="col-12 col-md-6" *ngFor="let post of (posts$ | async)?.result">
      <app-post [post]="post" [user]="(user$ | async)"></app-post>
    </div>
  </div>
</ng-container>
